numpy==1.26.4
chromadb==0.5.0
fastapi==0.111.0
langchain_text_splitters==0.2.1
pydantic==2.7.4
pypdf==4.2.0
pycryptodome==3.20.0
uvicorn==0.30.1
sentence-transformers==3.0.1
transformers==4.41.2
accelerate==0.31.0
pillow==10.3.0
packaging==24.1
flash-attn==2.5.9.post1
einops==0.8.0
timm==1.0.7