.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 2rem;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.center {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 1rem;
}

.fileLoader {
  display: flex;
  position: relative;
  flex-basis: 25%;
}

.chatbox {
  display: flex;
  position: relative;
  flex-basis: 75%;
}

.chatbotLogo {
  filter: invert(1);
  position: relative;
}

.sendMessageIcon {
  filter: invert(1);
  position: relative;
}

.chatBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
